h1{
  position:relative;
  top: 0px;
  left: 50px;
}
.rectangle {
  width: 1398px;  /* Largeur */
  height: 80px; /* Hauteur */
  background-color: rgb(254, 182, 0); /* Couleur de fond */
  position: relative;
  top: -10px;
  left: -10px;
}
.image {
  width: 80px;   /* Largeur de l'image */
  height: 80px;  /* Hauteur de l'image */
  position: relative;
  left: 10px;
}

