h1{
  position:relative;
  top: 0px;
  left: 50px;
}
.rectangle {
  width: 1398px;  /* Largeur */
  height: 80px; /* Hauteur */
  background-color: rgb(254, 182, 0); /* Couleur de fond */
  position: relative;
  top: -10px;
  left: -10px;
}
.image {
  width: 80px;   /* Largeur de l'image */
  height: auto;  /* Hauteur de l'image */
  position: relative;
  left: 10px;
  transition: all 0.75s 0.25s;
  transform: rotate(0);
}

.accueil {
  position: relative;
  top: -83px;
  left: 140px;
  font-family: "Sigmar", serif;
  font-weight: 400;
  font-style: normal;
}
.news{
  position: relative;
  top: -142px;
  left: 270px;
  font-family: "Sigmar", serif;
  font-weight: 400;
  font-style: normal;
}
.contact{
  position: relative;
  top: -201.5px;
  left: 380px;
  font-family: "Sigmar", serif;
  font-weight: 400;
  font-style: normal;
}
#checkbox {
  display: none;
}


#checkbox:checked + .image {
  transform: rotate(-180deg);
}