h1 {
  position: relative;
  top: 0px;
  left: 50px;
}

.rectangle {
  width: 1382px;
  /* Largeur */
  height: 100px;
  /* Hauteur */
  background: rgb(255, 200, 0);
  /* Couleur de fond */
  position: relative;
  top: -10px;
  left: -10px;
  z-index: 2;
}

input {
  display: none;
  z-index: 2;
}

/* Style de l'image */
img {
  width: 150px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  z-index: 2;
}

.accueil {
  position: relative;
  top: -90px;
  left: 140px;
  font-family: "Sigmar", serif;
  font-style: normal;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  font-size: xx-large;
  transition: transform 0.3s ease;
  display: inline-block;
  z-index: 2;
}

.accueil:hover {
  transform: scale(1.1);
}

.news {
  position: relative;
  top: -90px;
  left: 200px;
  font-family: "Sigmar", serif;
  font-weight: 400;
  font-style: normal;
  color: inherit;
  text-decoration: none;
  font-size: xx-large;
  display: inline-block;
  /* Permet à transform de fonctionner correctement */
  transition: transform 0.3s ease;
  z-index: 2;
}

.news:hover {
  transform: scale(1.1);
  /* Agrandit le texte sans bouger les autres éléments */
}

.contact {
  position: relative;
  top: -90px;
  left: 260px;
  font-family: "Sigmar", serif;
  font-weight: 400;
  font-style: normal;
  color: inherit;
  text-decoration: none;
  font-size: xx-large;
  transition: transform 0.3s ease;
  display: inline-block;
  z-index: 2;
}

.contact:hover {
  transform: scale(1.1);
}


.demo {
  text-align: center;
  font-size: xx-large;
  font-family: "Sigmar", serif;
}

input:checked~.rectangle img {
  transform: rotate(360deg);
}

.rectangle2 {
  width: 1382px;
  /* Largeur */
  height: 800px;
  /* Hauteur */
  background-color: rgb(0, 0, 0);
  /* Couleur de fond */
  opacity: 0.3;
  transition: transform 0.5s ease-in-out;
  position: relative;
  top: -290px;
  left: -1510px;
  z-index: 1;
}

input:checked~.rectangle2 {
  transform: translateX(1500px);
}

.rektangle {
  width: 250px;
  /*largeur*/
  height: 800px;
  background-color: rgb(65, 65, 65);
  position: relative;
  top: -1100px;
  left: -410px;
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}

input:checked~.rektangle {
  transform: translateX(400px);
}

.menu {
  position: relative;
  display: inline-block;
  top: -1500px;
}

.menu-button {
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: block;
  text-decoration: none;
}
.miniature{
  width: 700px;
  height: 500px;
  position: relative;
  top: -1495px;
  left: 330px;
  box-shadow: -20px -20px 50px rgba(0, 0, 0, 0.5); 
}
.miniature:hover{
  transform: scale(1.05,1.05);
}
.cache-lien{
  width: 1394px;
  height: 50px;
  position: relative;
  top: 512px;
  left: -20px;
  background-color: black;
}
